{% load static %}
{% load table %}

<html xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

    <!--日本語化用JS-->
    <script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/l10n/ja.js"></script>

    <!-- cssは一部が不具合を起こしているようなので、全て書き換え-->
    <link rel="stylesheet" href="{% static 'bbs/css/style.css' %}">
    <script src="{% static 'bbs/js/script.js' %}"></script>



    <!--fontawesomeは
        https://fontawesome.com/download#pro-packages
        からFreeforWeb(CSSやJSが含まれている方)をDLして

        css(fontawesomeに改名)とwebfontをcommon/css/に配置
    -->
    <link rel="stylesheet" href="{% static 'common/css/fontawesome/all.css' %}">

    <style>
        body{
            background-image: url("{% static 'bbs/img/ookamikun1.png' %}");
            background-attachment: fixed;
            background-size: cover;
            background-position: right 10% bottom 10%;
            }
    </style>
</head>
<body>

    <header>
        <input id="l_sidebar" class="l_sidebar_button" type="checkbox">
        <div class="left_header">
        <label class="l_sidebar_label" for="l_sidebar">
                <i class="fas fa-bars"></i>
                <i class="fas fa-times"></i>
            </label>
            <a class="header_link" href="{% url 'bbs:index' %}"><h1>タイトル</h1></a>
            <div class="header_right_content">
                <!--TODO:ここにログインのアイコンなどを-->
            </div>
        </div>
        <div class="l_sidebar_menu">

            <!--DTLは波括弧を使う-->
            <a href="{% url 'account_logout' %}">ログアウト</a>
        </div>
        <label class="l_sidebar_closer" for="l_sidebar"></label>
    </header>

    <main>
        <h1 style="text-align: right">４月-April</h1>
        <form action="" method="get">
            <input type="text" name="search" placeholder="検索したいワード" value="{{ request.GET.search }}">
            <input type="submit" class="btn btn-outline-dark" value="検索">
        </form>
        <form action="" method="post">
            {% csrf_token %}

            <select name="category">
                <option value="">カテゴリを選んでください</option>
                {% for category in categories %}
                <option value="{{ category.id }}">{{ category.name }}</option>
                {% endfor %}
            </select>
            <input type="text" name="title" placeholder="鑑定科目を入力してください" required>
            <input type="text" name="comment" placeholder="主な用途を入力してください" value=" ">
            <input type="number" name="income" placeholder="収入金額を入力してください"value="0">
            <input type="number" name="spending" placeholder="支出金額を入力してください"value="0">
            <input id="pay_dt" type="text" name="pay_dt" readonly>
            <input class="btn btn-success" type="submit" value="投稿">
        </form>
        {% generate_balance topics %}
    </main>


</body>
</html>
